# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Plugins/*/Binaries/
Plugins/*/Intermediate/
.vs/
.vscode/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.xcworkspace
*.xcodeproj
*.code-workspace
*.uatbuildrecord
*.target
*.modules

# macOS
.DS_Store

# Temporales de tests locales
/tmp/
